body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}
g {
  cursor: pointer;
}
header {
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 5;
}
.axis {
  height: 100%;
  width: 4800px;
  position: absolute;
  top: 100px;
}
.axis path {
  display: none;
}
.axis line {
  display: none;
}
.chart {
  position: relative;
  height: 100%;
  margin-top: 180px;
}
#tooltip {
  position: absolute;
  width: 400px;
  height: auto;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  pointer-events: none;
}
#tooltip.hidden {
  display: none;
}
#tooltip p {
  margin: 0;
  line-height: 20px;
}
