@import url(http://fonts.googleapis.com/css?family=Londrina+Outline|Lekton:400,700,400italic);
body {
  margin: 30px;
  font-family: 'Lekton', sans-serif;
  font-size: 12px;
}
g {
  cursor: pointer;
}
header {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  top: 0;
  color: #033968;
  z-index: 5;
}
header h1 {
  font-family: 'Londrina Outline', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  margin: 0;
}
header .intro p {
  width: 1000px;
  font-family: 'Lekton', sans-serif;
  font-size: 20px;
  line-height: 32px;
}
header .intro p span {
  font-weight: 700;
}
#gifts {
  color: #9c3ec1;
}
#interest {
  color: #23cd9d;
}
#recommended {
  color: #2b85d4;
}
#fascination {
  color: rgba(255, 87, 101, 0.7);
}
#existential-crisis {
  color: #71708f;
}
#comfort {
  color: #ed6d4a;
}
#other {
  color: #da166b;
}
.axis {
  height: auto;
  width: 4800px;
  position: absolute;
  top: 352px;
}
.axis .right {
  position: absolute;
  right: 5px;
}
.axis .left {
  position: absolute;
  left: 0;
}
.chart {
  height: 100%;
  margin-top: 400px;
}
#tooltip {
  position: absolute;
  width: 420px;
  height: auto;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  pointer-events: none;
}
#tooltip.hidden {
  display: none;
}
#tooltip p {
  margin: 0;
  line-height: 20px;
}
