@import url(http://fonts.googleapis.com/css?family=Londrina+Outline|Lekton:400,700,400italic);
body {
  margin: 0;
  font-family: 'Lekton', sans-serif;
  font-size: 12px;
}
g {
  cursor: pointer;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  color: #033968;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.7);
}
header article {
  padding: 30px 30px 15px 30px;
}
header h1 {
  font-family: 'Londrina Outline', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  margin: 0 0 .7em 0;
}
header h1 .fa-plus {
  position: fixed;
  right: 30px;
  transform: rotate(45deg);
  transition: transform .3s;
  cursor: pointer;
}
header h1 .fa-plus.more {
  transform: rotate(0deg);
}
header #intro-para {
  width: 1000px;
  font-family: 'Lekton', sans-serif;
  font-size: 16px;
  line-height: 24px;
}
header #intro-para a {
  font-weight: 700;
  text-decoration: none;
}
header #intro-para a:hover {
  border-bottom: 3px dotted;
}
header .gradient {
  background: linear-gradient(#d1d1d1, rgba(209, 209, 209, 0)) 0 0 no-repeat;
  height: 10px;
  padding: 0;
}
[data-filter="gift"] {
  color: #9c3ec1;
}
[data-filter="interest"] {
  color: #23cd9d;
}
[data-filter="recommended"] {
  color: #2b85d4;
}
[data-filter="fascination"] {
  color: rgba(255, 87, 101, 0.7);
}
[data-filter="existential-crisis"] {
  color: #71708f;
}
[data-filter="comfort"] {
  color: #ed6d4a;
}
[data-filter="other"] {
  color: #da166b;
}
#reload {
  font-style: italic;
  font-size: 12px;
}
#axis {
  height: auto;
  width: 4800px;
  position: fixed;
  pointer-events: none;
  margin-top: 10px;
}
#axis .right {
  position: absolute;
  right: 5px;
}
#axis .left {
  position: absolute;
  left: 30px;
}
.chart {
  height: 100%;
}
#tooltip {
  position: absolute;
  width: 420px;
  height: auto;
  padding: 5px 10px;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  pointer-events: none;
}
#tooltip p {
  margin: 0;
  line-height: 20px;
}
.drop-opacity {
  opacity: .1;
  pointer-events: none;
}
.highlight {
  opacity: 1;
  pointer-events: all;
  border-bottom: 3px dotted;
}
.hidden {
  display: none;
}
