body {
	margin: 0;
	font-family: 'Lekton', sans-serif;
	font-size: 12px;
}

g {
	cursor: pointer;
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	color: hsla(208, 95%, 21%, 1);
	z-index: 5;
	background-color: hsla(360, 100%, 100%, .7);

	article {
		padding: 30px;
	}


	h1 {
		font-family: 'Londrina Outline', sans-serif;
		text-transform: uppercase;
		font-size: 50px;
		margin: 0 0 .7em 0;


		.fa-plus {
			position: fixed;
			right: 30px;
			transform: rotate(45deg);
			transition: transform .3s;
			cursor: pointer;

			&#more {
				transform: rotate(0deg);
			}
		}
	}

	#intro-para {
		width: 1000px;
		font-family: 'Lekton', sans-serif;
		font-size: 16px;
		line-height: 24px;

		span {
			font-weight: 700;
		}

		&.hidden {
			display: none;
		}
	}

	.gradient {
		background: linear-gradient(hsla(0, 0%, 82%, 1), hsla(0, 0%, 82%, 0)) 0 0 no-repeat;
		height: 10px;
		padding: 0;
	}

}

#gifts {
	color: hsl(283, 51%, 50%);
}

#interest {
	color: hsl(163, 71%, 47%);
}

#recommended {
	color: hsl(208, 66%, 50%);
}
	
#fascination {
	color: hsla(355, 100%, 67%, .7);
}

#existential-crisis {
	color: hsl(241, 12%, 50%);
}

#comfort {
	color: hsl(13, 82%, 61%);
}

#other {
	color: hsl(334, 82%, 47%);
}


#axis {
	height: auto;
	width: 4800px;
	position: fixed;
	pointer-events: none;
	margin-top: 10px;
	
	.right {
		position: absolute;
		right: 5px;
	}

	.left {
		position: absolute;
		left: 30px;
	}
}


.chart {
	height: 100%;
	// margin-top: 420px;
}

#tooltip {
	position: absolute;
	width: 420px;
	height: auto;
	padding: 5px 10px;
	font-weight: 700;
	background-color: hsla(360, 100%, 100%, .7);
	-webkit-box-shadow: 0 0 5px hsla(360, 0%, 0%, .7);
	-moz-box-shadow: 0 0 5px hsla(360, 0%, 0%, .7);
	box-shadow: 0 0 5px hsla(360, 0%, 0%, .7);
	pointer-events: none;

	&.hidden {
		display: none;
	}

	p {
		margin: 0;
		line-height: 20px;
	}
}